| ~!Local,hexColour!~ <~~ | [![Preview of the theme ~%key%~-~!Local,hexColour!~.](~!ColouredWeb,pathPrefix!~/previews/~%key%~-~!Local,hexColour!~.svg)](~!ColouredWeb,pathPrefix!~/sheets/~%key%~-~!Local,hexColour!~.css)  ~> |
